<footer>
    <p>------------------------------------------------------------------------------</p>
    <p>GitHub: <a href="https://github.com/kylecoder99">https://github.com/kylecoder99</a></p>
    <p>------------------------------------------------------------------------------</p>
    <p>CLT Web: <a href="https://webpages.charlotte.edu/kbeland/">https://webpages.charlotte.edu/kbeland/</a></p>
    <p>------------------------------------------------------------------------------</p>
    <p>LinkedIn: <a href="https://www.linkedin.com/in/kyle-beland-320b92333/">https://www.linkedin.com/in/kyle-beland-320b92333/</a></p>
   <p>------------------------------------------------------------------------------</p>
    <p>Github.io: <a href="https://kylecoder99.github.io/">https://kylecoder99.github.io/</a></p>
    <p>------------------------------------------------------------------------------</p>
</footer>